@mixin images {      
    width: 100%s;
    height: 175px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    span {
        background: $cd-tertiaire;
        color: darken($color: $cd-tertiaire , $amount: 50);
        font-weight: bold;
        font-size: 0.9em;
        position: relative;
        left: 118px;
        top: 20px;
        padding: 5px

    }


    
}
@mixin like {
    .far{
        display: none;
    }
    .fas{
        display: block;
    }
    color: $cd-primaire;
    cursor: pointer;
    transition: 0.1s;  
}
@mixin img-resto {
    width: 100%;
    height: 260px;; 
    background-size: cover;
    background-position:center ;
}