/* ********** couleur ********* */

$cd-primaire: #9356DC;
$cd-secondaire: #FF79DA;
$cd-tertiaire: #99E2D0;

/* **************font************ */

$font-titre:'Shrikhand';
$font-txt: 'Roboto', sans-serif;

/* ****************bg color*************** */

$bg-color-primaire:#fff;
$bg-color-secondaire: #eaeaea;
$bg-color-tertiaire:#f6f6f6;